@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  min-height: 100%;
  background-color: hsl(var(--background));
}

:root {
  --background: 263 56% 19%;
  --foreground: 265 33% 92%;

  --primary: 263 100% 68%;
  --primary-foreground: 0 0% 100%;

  --secondary: 262 55% 56%;
  --secondary-foreground: 0 0% 100%;

  --accent: 172 82% 52%;
  --accent-foreground: 177 89% 14%;

  --muted: 272 13% 46%;
  --muted-foreground: 268 18% 76%;

  --destructive: 0 100% 70%;
  --destructive-foreground: 0 0% 100%;

  --card: 265 41% 24%;
  --card-foreground: 265 33% 92%;

  --popover: 267 45% 12%;
  --popover-foreground: 265 33% 92%;

  --border: 263 56% 19%;
  --input: 266 48% 15%;
  --ring: 265 59% 63%;

  --font-sans: "Jost", system-ui, sans-serif;
  --font-heading: "Jost", system-ui, sans-serif;

  --radius: 0.75rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-background text-foreground;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
