
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --font-font-sans: var(--font-sans);
  --font-font-heading: var(--font-heading);
  --font-font-serif: var(--font-serif);
  --font-font-mono: var(--font-mono);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
}
  
:root {
    --background: #201640;
  --foreground: #EAE6F7;
  --primary: #7C5CFF;
  --primary-foreground: #FFFFFF;
  --secondary: #5A46D6;
  --secondary-foreground: #FFFFFF;
  --muted: #6E647E;
  --muted-foreground: #BDB4C9;
  --accent: #2DE0C6;
  --accent-foreground: #042927;
  --destructive: #FF6B6B;
  --card: #2b2052;
  --card-foreground: #EAE6F7;
  --popover: #191428;
  --popover-foreground: #EAE6F7;
  --border: #201640;
  --input: #1d143b;
  --ring: #8B5CF6;
  --sidebar: #090616;
  --sidebar-foreground: #EAE6F7;
  --sidebar-primary: #7C5CFF;
  --sidebar-primary-foreground: #FFFFFF;
  --sidebar-accent: #2DE0C6;
  --sidebar-accent-foreground: #042927;
  --sidebar-border: #241E33;
  --sidebar-ring: #8B5CF6;
  --chart-1: #7C5CFF;
  --chart-2: #2DE0C6;
  --chart-3: #FF8AB6;
  --chart-4: #5A46D6;
  --chart-5: #FFD479;

  --font-sans: "Jost";
  --font-heading: "Jost";
  --font-serif: "Playfair Display";
  --font-mono: "JetBrains Mono";

  --radius: 0.75rem;
}
